.boutton_affichage_selectionner{

    color: yellow;
    background-color: rgb(50, 206, 154);
}
.couleur-noir-custom{
    color: black;
}
.couleur_verte{
    color :#16a34a
}
.couleur_rouge{
    color : red
}
.couleur_orange{
    color : #ea580c
}
@font-face {
    font-family: 'nunito_italic';
    src: url('../police_ecriture/police_Ninito/nunito-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('../police_ecriture/police_Ninito/nunito-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nunito_regular';
    src: url('../police_ecriture/police_Ninito/nunito-variablefont_wght-webfont.woff2') format('woff2'),
         url('../police_ecriture/police_Ninito/nunito-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'libre_baskerville_bold';
    src: url('../police_ecriture/police_Libre_Baskerville/librebaskerville-bold-webfont.woff2') format('woff2'),
         url('../police_ecriture/police_Libre_Baskerville/librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskerville_italic';
    src: url('../police_ecriture/police_Libre_Baskerville/librebaskerville-italic-webfont.woff2') format('woff2'),
         url('../police_ecriture/police_Libre_Baskerville/librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskerville_regular';
    src: url('../police_ecriture/police_Libre_Baskerville/librebaskerville-regular-webfont.woff2') format('woff2'),
         url('../police_ecriture/police_Libre_Baskerville/librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }